-
  const data = {
    text: {
      prepend: {
        firstPart: `
          В&nbsp;интернет-магазине &laquo;Дивайн лайт&raquo; вы&nbsp;можете
          купить люстру на&nbsp;любой вкус по&nbsp;цене от&nbsp;100&nbsp;₽ c
          доставкой по&nbsp;Москве и&nbsp;всей России. Более 50&nbsp;000
          осветительных приборов в&nbsp;одном месте`,
        secondPart: `
          Когда люстра подобрана правильно, она не&nbsp;только преображает
          интерьер любой комнаты, но&nbsp;и&nbsp;улучшает качество освещения.
          В&nbsp;нашем интернет-магазине можно выбрать и&nbsp;недорого купить
          люстру, которая не&nbsp;только будет отлично справляться с
          основными функциями, обеспечивая качественное освещение,
          но&nbsp;и&nbsp;легко впишется в&nbsp;оформление, став элегантным визуальным
          акцентом. Модные подвесные и&nbsp;популярные в&nbsp;Москве потолочные
          люстры, представленные на&nbsp;фото в&nbsp;каталоге, воплощают любую
          задумку дизайнера. Современные светильники обеспечивают
          полноценное освещение комнаты любого назначения или&nbsp;же
          подсвечивают только одну её&nbsp;часть, показывая её&nbsp;в&nbsp;самом
          выгодном ракурсе.`
      }
    }
  }
