h2 Основные правила выбора
p.
  В&nbsp;первую очередь следует учесть размеры комнаты.
  Чем меньше в&nbsp;ней свободного пространства, тем более
  компактную модель нужно выбирать. Интересные люстры
  могут стоить дёшево, но&nbsp;выглядеть при этом изящно,
  аккуратно и&nbsp;стильно. Эксперты рекомендуют
  рассчитывать размер так: длину и&nbsp;ширину помещения
  в&nbsp;метрах складывают и&nbsp;умножают эту сумму на&nbsp;10.
  Получается оптимальный диаметр люстры в&nbsp;сантиметрах.
p.
  Форма светильника должна определяться общим оформлением
  интерьера зала, гостиной, кухни, спальни или детской.
  Желательно ориентироваться на&nbsp;стилистику, которая уже выбрана.
p.
  Цветовое решение современных люстр исключительно разнообразно,
  на&nbsp;него и&nbsp;следует ориентироваться: стильную модель можно подобрать
  даже к&nbsp;самому сложному дизайнерскому решению, будь&nbsp;то модный лофт,
  модерн, прованс или традиционная классика.
p.
  Интересный и&nbsp;популярный в&nbsp;Москве приём, позволяющий выбрать
  идеальный вариант люстры: ориентируясь на&nbsp;фото, выбрать оттенок,
  являющийся в&nbsp;интерьере вторым по&nbsp;значимости.
h2 Как купить самую лучшую люстру
p.
  Правильно подобранная люстра дополняет дизайн комнаты,
  создавая уютную комфортную атмосферу. В&nbsp;спальне желательно
  использовать мягкий рассеянный свет,
  способствующий спокойному отдыху.
p.
  В&nbsp;зале и&nbsp;гостиной свет должен быть более ярким и&nbsp;праздничным,
  а&nbsp;в&nbsp;детской&nbsp;&mdash; достаточно ярким, но&nbsp;не&nbsp;слепящим. Большое
  значение имеет не&nbsp;только насыщенность светового потока,
  но&nbsp;и&nbsp;его оттенок. Цвет плафонов или абажура способен
  корректировать освещение, подчерчивать его цветовую гамму.
p.
  Модные, но&nbsp;недорогие светодиодные люстры будут
  украшать пространство даже в&nbsp;дневное время при выключенном свете

