extends ../components/base/layout

block variables
  - const title = "Дивайн Лайт"; //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = "";
  - const hasHeader = true;
  - const headerMods = "";
  - const hasFooter = true;
  - const footerMods = "";
  - const currentUrl = 4; //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  - const breadcrumbs = [{href: '#', text: 'Вернутсья к покупкам'}];

block main
  main.page.page--basket
    h1.visually-hidden Дивайн Лайт - Корзина
    +breadcrumbs(breadcrumbs).is-active
    +basket-section()
    +might-like()


    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks

block modals
  +modal("modal--contacts")(data-modal="contacts")
    +modal-contacts(headerContactsSections, addressList)
  +modal("modal--city")(data-modal="city")
    +modal-city(cityList, searchList)
  +modal("modal--cart")(data-modal="cart")
    +modal-cart
