extends ../components/base/layout

block variables
  - const title = "Дивайн Лайт"; //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = "";
  - const hasHeader = true;
  - const headerMods = "is-login";
  - const hasFooter = true;
  - const footerMods = "";
  - const currentUrl = "index.html"; //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.page.page--main
    +intro()
    +popular-products().page__slider
    +popular-categories().page__slider
    +select-lighting().page__select-lighting
    +sellout().page__slider
    .page__reviews
      +reviews()
    .page__designers
    +banners().page__banners

    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks

block modals
  +modal("modal--contacts")(data-modal="contacts")
    +modal-contacts(headerContactsSections, addressList)
  +modal("modal--city")(data-modal="city")
    +modal-city(cityList, searchList)
