extends ../components/base/layout

block variables
  - const title = "Спасибо-Дивайн Лайт"; //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = "";
  - const hasHeader = true;
  - const headerMods = "";
  - const hasFooter = true;
  - const footerMods = "";
  - const currentUrl = ""; //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.page
    +thanks()

    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks

block modals
  +modal("modal--contacts")(data-modal="contacts")
    +modal-contacts(headerContactsSections, addressList)
  +modal("modal--city")(data-modal="city")
    +modal-city(cityList, searchList)
