mixin about-product()
  section.about-product()&attributes(attributes)
    +section-heading({text: "О товаре", isOnlyText: true}).container
    .container
      p.about-product__text(data-open-more) Италия&nbsp;- это страна, которая в&nbsp;наше время очень достойно зарекомендовала себя в&nbsp;изготовлении современных светотехнических устройств. Площадь освещения является важным параметром при установке светотехники, ведь 15&nbsp;- это то&nbsp;пространство, которое накладная люстра Odeon Light 4877/5 cможет хорошо осветить. Предлагаемую люстру Odeon Light можно устанавливать при напряжении 220.
        +btn({text: "Читать полностью"})(aria-label="читать дальше", data-open-more-btn).btn--ghost.btn--fiord.btn--underline.btn--hover-lemon
        span.about-product__text-all(data-open-more-text) Накладная люстра Odeon Light 4877/5c подойдёт для интерьера помещений разных стилистических направлений: от&nbsp;традиционных до&nbsp;современных. Также на&nbsp;данной странице предлагаем прочитать дополнительные параметры представленной модели. Характеристики упаковки также указаны на&nbsp;странице. При поиске люстры целесообразно также иметь в&nbsp;виду её&nbsp;габариты. При выборе ламп следует иметь в&nbsp;виду, что тип цоколя данной модели e14. Оригинальная форма люстры и&nbsp;материал плафона стекло подарят комнате завораживающую атмосферу. накладная люстра Odeon Light 4877/5c сделает Ваш дом оригинальнее и&nbsp;будет дарить радость.
