mixin accessory-parts()
  -
    const partsCard = {
      slider: [
        {
          photo: {
            path: "content/accessory-parts",
            name: "accessory-1",
            format: "jpg",
            width: "80",
            height: "80",
            altText: "Светодиодная лампа Elektrostandard G9 LED 5W 220V 3300K",
          },
          title: "Светодиодная лампа Elektrostandard G9 LED 5W 220V 3300K",
          old: "28 340 ₽",
          cost: "7 270 ₽",
          isAvailable: true,
          isOldPrice: true,
          isDiscount: true,
          isSaleItem: true,
          isMatching: true,
          isDiscount: true,
        },
        {
          photo: {
            path: "content/accessory-parts",
            name: "accessory-2",
            format: "jpg",
            width: "80",
            height: "80",
            altText: "Светодиодная лампа Elektrostandard G9 LED 5W 220V 3300K",
          },
          title: "Светодиодная лампа Elektrostandard G9 LED 5W 220V 3300K",
          cost: "285 ₽",
          isAvailable: true,
          isOldPrice: false,
          isDiscount: false,
          isSaleItem: false,
          isMatching: true,
          isDiscount: true,
        },
        {
          photo: {
            path: "content/accessory-parts",
            name: "accessory-3",
            format: "jpg",
            width: "80",
            height: "80",
            altText: "Детская настольная лампа Omnilux OML-16404-01",
          },
          title: "Детская настольная лампа Omnilux<br>OML-16404-01",
          old: "28 340 ₽",
          cost: "7 270 ₽",
          isAvailable: true,
          isOldPrice: true,
          isDiscount: true,
          isSaleItem: true,
          isMatching: true,
          isDiscount: true,
        },
        {
          photo: {
            path: "content/accessory-parts",
            name: "accessory-4",
            format: "jpg",
            width: "80",
            height: "80",
            altText: "Детская настольная лампа Omnilux OML-16404-01",
          },
          title: "Детская настольная лампа Omnilux<br>OML-16404-01",
          old: "28 340 ₽",
          cost: "7 270 ₽",
          isAvailable: true,
          isOldPrice: true,
          isDiscount: true,
          isSaleItem: true,
          isMatching: true,
          isDiscount: true,
        },
        {
          photo: {
            path: "content/accessory-parts",
            name: "accessory-5",
            format: "jpg",
            width: "80",
            height: "80",
            altText: "Детская настольная лампа Omnilux OML-16404-01",
          },
          title: "Детская настольная лампа Omnilux<br> OML-16404-01",
          old: "28 340 ₽",
          cost: "7 270 ₽",
          isAvailable: true,
          isOldPrice: true,
          isDiscount: true,
          isSaleItem: true,
          isMatching: true,
          isDiscount: true,
        },
        {
          photo: {
            path: "content/accessory-parts",
            name: "accessory-1",
            format: "jpg",
            width: "80",
            height: "80",
            altText: "Светодиодная лампа Elektrostandard G9 LED 5W 220V 3300K",
          },
          title: "Светодиодная лампа Elektrostandard G9 LED 5W 220V 3300K",
          old: "28 340 ₽",
          cost: "7 270 ₽",
          isAvailable: true,
          isOldPrice: true,
          isDiscount: true,
          isSaleItem: true,
          isMatching: true,
          isDiscount: true,
        },
        {
          photo: {
            path: "content/accessory-parts",
            name: "accessory-2",
            format: "jpg",
            width: "80",
            height: "80",
            altText: "Светодиодная лампа Elektrostandard G9 LED 5W 220V 3300K",
          },
          title: "Светодиодная лампа Elektrostandard G9 LED 5W 220V 3300K",
          old: "28 340 ₽",
          cost: "7 270 ₽",
          isAvailable: true,
          isOldPrice: true,
          isDiscount: false,
          isSaleItem: false,
          isMatching: true,
          isDiscount: true,
        },
        {
          photo: {
            path: "content/accessory-parts",
            name: "accessory-3",
            format: "jpg",
            width: "80",
            height: "80",
            altText: "Детская настольная лампа Omnilux OML-16404-01",
          },
          title: "Детская настольная лампа Omnilux<br> OML-16404-01",
          old: "28 340 ₽",
          cost: "7 270 ₽",
          isAvailable: true,
          isOldPrice: true,
          isDiscount: true,
          isSaleItem: true,
          isMatching: true,
          isDiscount: true,
        },
        {
          photo: {
            path: "content/accessory-parts",
            name: "accessory-4",
            format: "jpg",
            width: "80",
            height: "80",
            altText: "Детская настольная лампа Omnilux OML-16404-01",
          },
          title: "Детская настольная лампа Omnilux<br> OML-16404-01",
          old: "28 340 ₽",
          cost: "7 270 ₽",
          isAvailable: true,
          isOldPrice: true,
          isDiscount: true,
          isSaleItem: true,
          isMatching: true,
          isDiscount: true,
        },
        {
          photo: {
            path: "content/accessory-parts",
            name: "accessory-5",
            format: "jpg",
            width: "80",
            height: "80",
            altText: "Детская настольная лампа Omnilux OML-16404-01",
          },
          title: "Детская настольная лампа Omnilux<br> OML-16404-01",
          old: "28 340 ₽",
          cost: "7 270 ₽",
          isAvailable: true,
          isOldPrice: true,
          isDiscount: true,
          isSaleItem: true,
          isMatching: true,
          isDiscount: true,
        },
      ],
    };

  section.accessory-parts()&attributes(attributes)
    +section-heading({text: "Комплектующие", isOnlyText: true}).container
    +slider-cards()(data-slider-cards="slider").slider-cards--type-slider.container
      each card in partsCard.slider
        .slider-cards__swiper-slide.swiper-slide
          +info-card(card)

