-
  const dataTable = [
                  {
                    caption: "Основные",
                    list: [
                      {
                        line1: "Бренд",
                        line2: "Odeon Light",
                      },
                      {
                        line1: "Степень защиты",
                        line2: "20 ip",
                      },
                      {
                        line1: "Страна происхождения",
                        line2: "Италия",
                      },
                      {
                        line1: "Коллекция",
                        line2: "Gatsby",
                      },
                      {
                        line1: "Артикул",
                        line2: "4877/5C",
                      },
                    ],
                  },
                  {
                    caption: "Лампы",
                    list: [
                      {
                        line1: "Тип лампы",
                        line2: "Накаливания или LED",
                      },
                      {
                        line1: "Мощность лампы",
                        line2: "40 W",
                      },
                      {
                        line1: "Мощность общая",
                        line2: "200 W",
                      },
                      {
                        line1: "Напряжение",
                        line2: "220 V",
                      },
                    ],
                  },
                   {
                    caption: "Внешний вид",
                    list: [
                      {
                        line1: "Стиль",
                        line2: "Современный",
                      },
                      {
                        line1: "Форма",
                        line2: "Круг",
                      },
                      {
                        line1: "Цвет арматуры",
                        line2: "Золотой",
                      },
                      {
                        line1: "Цвет плафона",
                        line2: "Прозрачный",
                      },
                    ],
                  },
                  {
                    caption: "Размеры",
                    list: [
                      {
                        line1: "Ширина/диаметр",
                        line2: "320 мм",
                      },
                      {
                        line1: "Высота",
                        line2: "210 мм",
                      },
                      {
                        line1: "Тип лампы",
                        line2: "Накаливания или LED",
                      },
                      {
                        line1: "Мощность лампы",
                        line2: "40 W",
                      },
                    ],
                  },
                   {
                    caption: "Внешний вид",
                    list: [
                      {
                        line1: "Стиль",
                        line2: "Современный",
                      },
                      {
                        line1: "Форма",
                        line2: "Круг",
                      },
                      {
                        line1: "Цвет арматуры",
                        line2: "Золотой",
                      },
                      {
                        line1: "Цвет плафона",
                        line2: "Прозрачный",
                      },
                    ],
                  },
                  {
                    caption: "Размеры",
                    list: [
                      {
                        line1: "Ширина/диаметр",
                        line2: "320 мм",
                      },
                      {
                        line1: "Высота",
                        line2: "210 мм",
                      },
                      {
                        line1: "Тип лампы",
                        line2: "Накаливания или LED",
                      },
                      {
                        line1: "Мощность лампы",
                        line2: "40 W",
                      },
                    ],
                  },
                  {
                    caption: "Основные",
                    list: [
                      {
                        line1: "Бренд",
                        line2: "Odeon Light",
                      },
                      {
                        line1: "Степень защиты",
                        line2: "20 ip",
                      },
                      {
                        line1: "Страна происхождения",
                        line2: "Италия",
                      },
                      {
                        line1: "Коллекция",
                        line2: "Gatsby",
                      },
                      {
                        line1: "Артикул",
                        line2: "4877/5C",
                      },
                    ],
                  },
                  {
                    caption: "Дополнительные параметры",
                    list: [
                      {
                        line1: "Пультр управления",
                        line2: "нет",
                      },
                      {
                        line1: "Место установки",
                        line2: "На потолок",
                      },
                    ],
                  },
                  {
                    caption: "Материалы",
                    list: [
                      {
                        line1: "Материал арматуры",
                        line2: "Металл",
                      },
                      {
                        line1: "Материал плафона",
                        line2: "Стекло",
                      },
                    ],
                  },
                  {
                    caption: "Внешний вид",
                    list: [
                      {
                        line1: "Стиль",
                        line2: "Современный",
                      },
                      {
                        line1: "Форма",
                        line2: "Круг",
                      },
                      {
                        line1: "Цвет арматуры",
                        line2: "Золотой",
                      },
                      {
                        line1: "Цвет плафона",
                        line2: "Прозрачный",
                      },
                    ],
                  },
                  {
                    caption: "Размеры",
                    list: [
                      {
                        line1: "Ширина/диаметр",
                        line2: "320 мм",
                      },
                      {
                        line1: "Высота",
                        line2: "210 мм",
                      },
                      {
                        line1: "Тип лампы",
                        line2: "Накаливания или LED",
                      },
                      {
                        line1: "Мощность лампы",
                        line2: "40 W",
                      },
                    ],
                  },
                  {
                    caption: "Дополнительные параметры",
                    list: [
                      {
                        line1: "Пультр управления",
                        line2: "нет",
                      },
                      {
                        line1: "Место установки",
                        line2: "На потолок",
                      },
                    ],
                  },
                ]

mixin characteristics()
  section.characteristics()&attributes(attributes)
    +section-heading({text: "Характеристики", isOnlyText: true}).container
    .container
      .characteristics__wrapper
        .characteristics__list
          each item in dataTable
            +table(item)
        .characteristics__list-btn
          +btn({text: "Развернуть характеристики"}).btn--ghost.btn--underline.btn--hover-lemon.characteristics__button

