mixin great-reviews()
  -
    const productImg = {
      path: 'content/reviews',
      image: 'thumb-odeon-light',
      format: 'jpg',
      width: '80',
      height: '80',
      title: "Каскадная люстра Odeon Light 4938/4",
      altText: "Каскадная люстра Odeon Light 4938/4"
    };

  -
    const reviewList = [
      {
        author: "Константин Никитин",
        text: "Отличная цена! Расход воды не&nbsp;высокий, габариты как мне надо было (узкая). Много оборотов при отжиме, мне было важно. Понятное управление, легко разобраться.",
        rating: 5,
        reviewDate: "15 мая 2022",
        imgList: [
          {
            imgBig: "img/content/reviews/user1/odeon-2.jpg",
            path: 'content/reviews/user1',
            image: 'odeon-2',
            format: 'jpg',
            width: '120',
            height: '120',
            title: "Каскадная люстра Odeon Light 4938/4",
            altText: "Каскадная люстра Odeon Light 4938/4"
          },
          {
            imgBig: "img/content/reviews/user1/odeon-3.jpg",
            path: 'content/reviews/user1',
            image: 'odeon-3',
            format: 'jpg',
            width: '120',
            height: '120',
            title: "Каскадная люстра Odeon Light 4938/4",
            altText: "Каскадная люстра Odeon Light 4938/4"
          },
          {
            imgBig: "img/content/reviews/user1/odeon-4.jpg",
            path: 'content/reviews/user1',
            image: 'odeon-4',
            format: 'jpg',
            width: '120',
            height: '120',
            title: "Каскадная люстра Odeon Light 4938/4",
            altText: "Каскадная люстра Odeon Light 4938/4"
          },
        ]
      },
      {
        author: "Юля",
        text: "Хороший свет",
        rating: 5,
        reviewDate: "15 мая 2022",
      },
      {
        author: "Винисиус",
        textExcerpt: "машина в&nbsp;использовании около 3&nbsp;месяцев, со&nbsp;всеми скидками обошлась в&nbsp;12600&nbsp;с базовой установкой.<br>Машинка очень хорошая, по&nbsp;качеству стирки претензий никаких нет. Объём барабана маленький, поэтому иногда приходится стирать в&nbsp;два или три этапа. или несколько дней подряд.<br>Но&nbsp;проблемы в&nbsp;этом большой нет и&nbsp;отнести это к&nbsp;минусу нельзя, потому что при покупке любой человек понимает, что 4&nbsp;кг на&nbsp;большую семью это мало.<br>Нас 4&nbsp;человека и&nbsp;нам вполне хватает. Я&nbsp;не&nbsp;понимаю людей, которые жалуются на&nbsp;то, что...",
        text: "машина в&nbsp;использовании около 3&nbsp;месяцев, со&nbsp;всеми скидками обошлась в&nbsp;12600&nbsp;с базовой установкой.<br>Машинка очень хорошая, по&nbsp;качеству стирки претензий никаких нет. Объём барабана маленький, поэтому иногда приходится стирать в&nbsp;два или три этапа. или несколько дней подряд.<br>Но&nbsp;проблемы в&nbsp;этом большой нет и&nbsp;отнести это к&nbsp;минусу нельзя, потому что при покупке любой человек понимает, что 4&nbsp;кг на&nbsp;большую семью это мало.<br>Нас 4&nbsp;человека и&nbsp;нам вполне хватает. Я&nbsp;не&nbsp;понимаю людей, которые жалуются на&nbsp;то, что машина скачет по&nbsp;ванной, плохо стирает и&nbsp;т.п<br>Не&nbsp;надо вводить людей в&nbsp;заблуждение! Любую машину, если установить правильно и&nbsp;проверить по&nbsp;уровню устойчивости, она будет стоять надёжно!<br>Машина не&nbsp;может стирать плохо, если вы&nbsp;не&nbsp;требуете от&nbsp;неё сверхъестественного. Если машина заливает мало воды, не&nbsp;включайте ЭКО-режим! Если она сильно вибрирует и&nbsp;шумит, ставьте минимальные обороты при отжиме.<br>Не&nbsp;забывайте при установке скручивать транспортировочные болты или потом не&nbsp;удивляйтесь что у&nbsp;вас летит барабан через неделю, слышите ужасные звуки и&nbsp;т.д. Я&nbsp;как реальный пользователь, могу вам сказать, что машина для своей цены более чем хорошая! Стирает нормально, бельё всегда чистое и&nbsp;никакого запаха нет.<br>Отжимает тоже хорошо, бельё вынимается влажным на&nbsp;500&nbsp;об/мин, вода не&nbsp;стекает. При стирке и&nbsp;отжиме немного шумит, но&nbsp;любая машина даже выше классом всё равно будет шуметь. Такова специфика работы стиральной машины в&nbsp;принципе!<br>В&nbsp;общем за&nbsp;такие деньги, очень удачная покупка. Покупайте стиральную машину исходя из&nbsp;своих требований и&nbsp;всё будет&nbsp;ок.",
        rating: 5,
        reviewDate: "15 мая 2022",
      },
      {
        author: "Винисиус",
        textExcerpt: "машина в&nbsp;использовании около 3&nbsp;месяцев, со&nbsp;всеми скидками обошлась в&nbsp;12600&nbsp;с базовой установкой.<br>Машинка очень хорошая, по&nbsp;качеству стирки претензий никаких нет. Объём барабана маленький, поэтому иногда приходится стирать в&nbsp;два или три этапа. или несколько дней подряд.<br>Но&nbsp;проблемы в&nbsp;этом большой нет и&nbsp;отнести это к&nbsp;минусу нельзя, потому что при покупке любой человек понимает, что 4&nbsp;кг на&nbsp;большую семью это мало.<br>Нас 4&nbsp;человека и&nbsp;нам вполне хватает. Я&nbsp;не&nbsp;понимаю людей, которые жалуются на&nbsp;то, что...",
        text: "машина в&nbsp;использовании около 3&nbsp;месяцев, со&nbsp;всеми скидками обошлась в&nbsp;12600&nbsp;с базовой установкой.<br>Машинка очень хорошая, по&nbsp;качеству стирки претензий никаких нет. Объём барабана маленький, поэтому иногда приходится стирать в&nbsp;два или три этапа. или несколько дней подряд.<br>Но&nbsp;проблемы в&nbsp;этом большой нет и&nbsp;отнести это к&nbsp;минусу нельзя, потому что при покупке любой человек понимает, что 4&nbsp;кг на&nbsp;большую семью это мало.<br>Нас 4&nbsp;человека и&nbsp;нам вполне хватает. Я&nbsp;не&nbsp;понимаю людей, которые жалуются на&nbsp;то, что машина скачет по&nbsp;ванной, плохо стирает и&nbsp;т.п<br>Не&nbsp;надо вводить людей в&nbsp;заблуждение! Любую машину, если установить правильно и&nbsp;проверить по&nbsp;уровню устойчивости, она будет стоять надёжно!<br>Машина не&nbsp;может стирать плохо, если вы&nbsp;не&nbsp;требуете от&nbsp;неё сверхъестественного. Если машина заливает мало воды, не&nbsp;включайте ЭКО-режим! Если она сильно вибрирует и&nbsp;шумит, ставьте минимальные обороты при отжиме.<br>Не&nbsp;забывайте при установке скручивать транспортировочные болты или потом не&nbsp;удивляйтесь что у&nbsp;вас летит барабан через неделю, слышите ужасные звуки и&nbsp;т.д. Я&nbsp;как реальный пользователь, могу вам сказать, что машина для своей цены более чем хорошая! Стирает нормально, бельё всегда чистое и&nbsp;никакого запаха нет.<br>Отжимает тоже хорошо, бельё вынимается влажным на&nbsp;500&nbsp;об/мин, вода не&nbsp;стекает. При стирке и&nbsp;отжиме немного шумит, но&nbsp;любая машина даже выше классом всё равно будет шуметь. Такова специфика работы стиральной машины в&nbsp;принципе!<br>В&nbsp;общем за&nbsp;такие деньги, очень удачная покупка. Покупайте стиральную машину исходя из&nbsp;своих требований и&nbsp;всё будет&nbsp;ок.",
        rating: 5,
        reviewDate: "15 мая 2022",
      },
    ]

  -
    const criterionList = [
      {criterionName: "Внешний вид", rating: 4.4},
      {criterionName: "Качество", rating: 4},
      {criterionName: "Легкость установки", rating: 2}
    ]

  -
    const ratingList = [
      {starsNumber: "5 звезд", rating: 63, reviewsNumber: 20 },
      {starsNumber: "4 звезды", rating: 15, reviewsNumber: 8 },
      {starsNumber: "3 звезды", rating: 7, reviewsNumber: 4},
      {starsNumber: "2 звезды", rating: 0, reviewsNumber: 0},
      {starsNumber: "1 звезда", rating: 8, reviewsNumber: 15},
    ]

  -
    const rating = {ratingStars: 42, productEvaluation:"4.2", customersPercent: 76}

  section.great-reviews.great-reviews--appearance
    .container
      +reviews-header("Отзывы клиентов на 5 звезд", "#")
      +product-img(productImg)

      .great-reviews__wrapper
        +product-diagrams(rating, ratingList, criterionList)
        +product-reviews({reviewList, hasBtn: false})
