mixin making-order(options = {})
  - const isNotRenderTotal = true;
  - const orderButton = {text: "Оплатить СПБ", type: "submit"};
  - const getReceipt = {inputName: 'get-receipt', inputLabel: 'Получить чек на email'};
  - const subscribeNews = {inputName: 'subscribe-news', inputLabel: 'Подписаться на самые актуальные новости и акции'};

  -
    const dataFields = [
      {
        label: "10 товаров • 35 кг",
        value: "15 487 ₽",
        valueBlack: true,
        valueRed: false,
        fieldBlack: false,
        tooltip: false,
        tooltipContent: "",
      },
      {
        label: "Скидка",
        value: "- 400 ₽",
        valueBlack: false,
        valueRed: true,
        fieldBlack: false,
        tooltip: false,
        tooltipContent: "",
      },
      {
        label: "Скидка по промокоду",
        value: "- 87 ₽",
        valueBlack: false,
        valueRed: true,
        fieldBlack: false,
        tooltip: false,
        tooltipContent: "",
      },
      {
        label: "Доставка",
        value: "от 1 ₽",
        valueBlack: true,
        valueRed: false,
        fieldBlack: false,
        tooltip: "question",
        tooltipContent: "Точная стоимость будет рассчитана после ввода адреса и выбора способа доставки",
      },
    ]

  .making-order.container(data-validate)&attributes(attributes)
    form(action="#")
      .making-order__wrapper
        .making-order__column
          +recipient-details().making-order__recipient-details.making-order__container
          +way-get().making-order__way-get
          +payment-method().making-order__payment-method
          +shopping-widget({isNotRenderTotal}).making-order__shopping-widget
        .making-order__wrap-shopping-widget
          .making-order__aside
            .making-order__popups
              +popup-info({icon: "error-line", title: "Введите номер квартиры", text: "Без номера квартиры курьер не&nbsp;сможет доставить по&nbsp;адресу"}).popup-info--error
              +popup-info({icon: "icon-ok-fill", title: "Промокод применен"}).popup-info--success
              +popup-info({title: "Введите номер квартиры"}).popup-info--info
            +promo-code({hiddenTitle: true}).making-order__promo-code
            +cost-estimate({fields: dataFields}).making-order__cost-estimate
            +btn(orderButton).making-order__place-order-button
            +custom-toggle(getReceipt).custom-toggle--checkbox.making-order__get-receipt(data-show-control="check")
            .making-order__check-email(data-show-input="check")
              +custom-input({
                style: 'simple',
                inputLabel: "E-mail",
                inputName: "check-email"
              })(data-validate-type="email")
            +custom-toggle(subscribeNews).custom-toggle--checkbox.making-order__subscribe-news(data-show-control="subscribe")
            .making-order__check-email(data-show-input="subscribe")
              +custom-input({
                style: 'simple',
                inputLabel: "E-mail",
                inputName: "subscribe-email"
              })(data-validate-type="email")
            .making-order__offer-rules.
              Нажимая кнопку &laquo;Оформить заказ&raquo;,
              Вы&nbsp;подтверждаете, что ознакомлены
              с&nbsp;Офертой и&nbsp;Политикой обработки
              персональных данных и&nbsp;даете свое согласие
              на обработку персональных данных



