mixin reviews()
  -
    const cards = {
      slider: [
        {
          name: "Александр И.",
          ratingValue: "4.9",
          text_before: "Сбросил заявку на расчет светотехники по моей площади (Частный дом, внешнее освещение с датчиком движения). Менеджер Диана обрабатывает все идеально",
          text_after: "Сбросил заявку на расчет светотехники по моей площади (Частный дом, внешнее освещение с датчиком движения). Менеджер Диана обрабатывает все идеально и",
          date: "26 ноября 2021 ",
          city: "г, Москва"
        },
        {
          name: "Александр И.",
          ratingValue: "4.9",
          text_before: "Сбросил заявку на расчет светотехники по моей площади (Частный дом, внешнее освещение с датчиком движения). Менеджер Диана обрабатывает все идеально",
          text_after: "Сбросил заявку на расчет светотехники по моей площади (Частный дом, внешнее освещение с датчиком движения). Менеджер Диана обрабатывает все идеально и",
          date: "26 ноября 2021 ",
          city: "г, Москва"
        },
        {
          name: "Александр И.",
          ratingValue: "4.9",
          text_before: "все идеально!",
          date: "26 ноября 2021 ",
          city: "г, Москва"
        },
        {
          name: "Александр И.",
          ratingValue: "4.9",
          text_before: "Сбросил заявку на расчет",
          date: "26 ноября 2021 ",
          city: "г, Москва"
        },
        {
          name: "Александр И.",
          ratingValue: "4.9",
          text_before: "Сбросил заявку на расчет светотехники по моей площади (Частный дом, внешнее освещение с датчиком движения). Менеджер Диана обрабатывает все идеально",
          text_after: "Сбросил заявку на расчет светотехники по моей площади (Частный дом, внешнее освещение с датчиком движения). Менеджер Диана обрабатывает все идеально и",
          date: "26 ноября 2021 ",
          city: "г, Москва"
        },
        {
          name: "Александр И.",
          ratingValue: "4.9",
          text_before: "Сбросил заявку на расчет светотехники по моей площади (Частный дом, внешнее освещение с датчиком движения). Менеджер Диана обрабатывает все идеально",
          text_after: "Сбросил заявку на расчет светотехники по моей площади (Частный дом, внешнее освещение с датчиком движения). Менеджер Диана обрабатывает все идеально и",
          date: "26 ноября 2021 ",
          city: "г, Москва"
        },
      ],
    };

  section.reviews.container&attributes(attributes)
    +section-heading({
      text: "Отзывы",
    })
    .reviews__wrapper
      .reviews__write-review
        +write-review
      .reviews__slider
        +slider-cards()(data-slider-cards="slider")
          each card in cards.slider
            .slider-cards__swiper-slide.swiper-slide
              +review(card)
      .reviews__bottom
        a.reviews__link.reviews__link--write(href="#") Написать отзыв
        a.reviews__link.reviews__link--video(href="#")
          span Смотреть видео-отзывы

