mixin select-lighting()
  section.select-lighting.section()&attributes(attributes)
    .container
      .select-lighting__title.section__title.title-2
        h2!="Помогаем выбрать освещение"
      +tabs-lighting(selectLighting).select-lighting__tabs
