mixin similar-goods()
  -
    const cards2 = {
      slider: [
        {
          properties: ["вариант 1", "15 x 21 мм"],
          isSliderCard: true,
          isAvailable: true,
          isOldPrice: true,
          isDiscount: true,
          isItemNew: true,
          isVideo: true,
          isSaleItem: true,
          isShowNumberProduct: true,
          isFavorites: true,
          isMatching: true,
        },
        {
          properties: ["вариант 4", "15 x 21 мм"],
          isSliderCard: true,
          isAvailable: true,
          slider: [
            {
              image: ["content/slider", "slider-image-2", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-1", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-3", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-4", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-5", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-6", "jpg", 304, 304, "товар"],
            },
          ],
        },
        {
          properties: ["вариант 5", "15 x 21 мм"],
          isSliderCard: true,
          isOldPrice: true,
          isAvailable: true,
          slider: [
            {
              image: ["content/slider", "slider-image-3", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-2", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-1", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-4", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-5", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-6", "jpg", 304, 304, "товар"],
            },
          ],
        },
        {
          properties: ["вариант 6", "15 x 21 мм"],
          isSliderCard: true,
          isDiscount: true,
          isOldPrice: true,
          isAvailable: true,
          slider: [
            {
              image: ["content/slider", "slider-image-4", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-3", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-2", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-1", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-5", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-6", "jpg", 304, 304, "товар"],
            },
          ],
        },
        {
          properties: ["вариант 7", "15 x 21 мм"],
          isSliderCard: true,
          isItemNew: true,
          isAvailable: true,
          slider: [
            {
              image: ["content/slider", "slider-image-7", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-2", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-4", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-5", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-1", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-6", "jpg", 304, 304, "товар"],
            },
          ],
        },
        {
          properties: ["вариант 8", "15 x 21 мм"],
          isSliderCard: true,
          isVideo: true,
          isAvailable: true,
          slider: [
            {
              image: ["content/slider", "slider-image-5", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-5", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-4", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-3", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-2", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-1", "jpg", 304, 304, "товар"],
            },
          ],
        },
        {
          properties: ["вариант 9", "15 x 21 мм"],
          isSliderCard: true,
          isSaleItem: true,
          isAvailable: true,
          slider: [
            {
              image: ["content/slider", "slider-image-6", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-5", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-4", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-3", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-2", "jpg", 304, 304, "товар"],
            },
            {
              image: ["content/slider", "slider-image-1", "jpg", 304, 304, "товар"],
            },
          ],
        },
        {
          properties: ["вариант 10", "15 x 21 мм"],
          isSliderCard: true,
          isShowNumberProduct: true,
          isAvailable: true,
        },
        {
          properties: ["вариант 11", "15 x 21 мм"],
          isSliderCard: true,
          isFavorites: true,
          isAvailable: true,
        },
        {
          properties: ["вариант 12", "15 x 21 мм"],
          isSliderCard: true,
          isMatching: true,
          isAvailable: true,
        },
      ],
    };

  section.similar-goods()&attributes(attributes)
    +section-heading({text: "Аналоги"}).container
    +slider-cards()(data-slider-cards="slider").slider-cards--type-slider.container
      each card in cards2.slider
        .slider-cards__swiper-slide.swiper-slide
          +product-card(card)
