mixin tags()

  -
    const tagList1 = [
          "Потолочные",
          "Подвесные",
          "На штанге",
          "Рожковые",
          "Дизайнерские",
          "Элитные"
        ]

  -
    const tagList2 = [
          "Гостиная",
          "Дача",
          "Детская",
          "Кабинет",
          "Кафе",
          "Кухня",
          "Магазин",
          "Над кухонным островом",
          "Прихожая",
          "Над обеденным столом",
          "Холл",
          "Спальня"
        ]

  -
    const tagList3 = [
          "Американский винтаж",
          "Ампир",
          "Ар нуво",
          "Арт деко",
          "Восточный",
          "Классика",
          "Ковка",
          "Кантри",
          "Лофт",
          "Минимализм",
          "Модерн",
          "Морской",
          "Прованс",
          "Ретро",
          "Скандинавский",
          "Современный",
          "Техно",
          "Тиффани",
          "Флористика",
          "Хай тек",
          "Этнический",
          "Японский",
        ]

  -
    const tagList4 = [
          "Натяжные",
          "Низкие",
          "Подвесные",
        ]

  -
    const tagList5 = [
          "Белые",
          "Бежевые",
          "Бронза",
          "Венге",
          "Желтые",
          "Зеленые",
          "Золото",
          "Коричневые",
          "Красные",
          "Разноцветные",
          "Розовые",
          "Серые",
          "Синие",
          "Фиолетовые",
          "Хром",
          "Черно белые",
          "Черные",
          "Техно",
          "Тиффани",
          "Флористика",
          "Хай тек",
          "Этнический",
          "Японский",
        ]

  +breadcrumbs([
      {
        href: "index.html",
        text: "Главная",
      },
      {
        mod: "active",
        text: "Люстры",
        list: [
          "Подвесные",
          "На штанге",
          "Умные люстры",
          "Каскадные",
          "Кольца",
        ],
      },
      {
        text: "Подборки люстр",
      },
    ]).is-active.breadcrumbs--big-margin

  section.tags
    .container
      +section-heading({tag: "h1", text: "Подборки люстр", isOnlyText: true})
      .tags__block
        p.tags__name Вид:
        +tag-list(tagList1)

      .tags__block
        p.tags__name Назначение:
        +tag-list(tagList2)

      .tags__block
        p.tags__name Стиль:
        +tag-list(tagList3)

      .tags__block
        p.tags__name Тип потолков:
        +tag-list(tagList4)

      .tags__block
        p.tags__name Цвет:
        +tag-list(tagList5)

      .tags__block
        p.tags__name Подборки люстр:
        +tag-list(tagList1)

      .tags__block
        p.tags__name Назначение:
        +tag-list(tagList2)

      .tags__block
        p.tags__name Стиль:
        +tag-list(tagList3)

      .tags__block
        p.tags__name Тип потолков:
        +tag-list(tagList4)

      .tags__block
        p.tags__name Цвет:
        +tag-list(tagList5)
