mixin users-review()
  -
    const productImg = {
      path: 'content/reviews',
      image: 'thumb-odeon-light',
      format: 'jpg',
      width: '80',
      height: '80',
      title: "Каскадная люстра Odeon Light 4938/4",
      altText: "Каскадная люстра Odeon Light 4938/4"
    }
  section.product-review.product-review--appearance
    .container
      +reviews-header("Ваш отзыв о товаре", "#")
      +product-img(productImg).product-img--margin

      div(data-validate).product-review__form
        form(method="post")
          .product-review__rating
            p.product-review__title Общая оценка
            +product-rate({inputName: "stars", valueRating: 4}).product-rate--rating-none

          .product-review__criteria
            p.product-review__title Внешний вид, качество и&nbsp;установка
            +product-rate({inputName: "appearance", valueRating: 4, captionName: "Внешний вид"}).product-rate--line-svg
            +product-rate({inputName: "quality", valueRating: 5, captionName: "Качество"}).product-rate--line-svg
            +product-rate({inputName: "installation", valueRating: 2, captionName: "Легкость установки"}).product-rate--line-svg

          .custom-input.custom-input--simple-type.product-review__comment(data-validate-type="text")
            label.is-initialized(data-frize-label="parent")
              textarea.is-initialized(data-frize-label="input" aria-required="true" aria-invalid="true") Отличный светильник. Рекомендую
              span.custom-input__label(data-frize-label="element") Комментарий
            .custom-input__error Напишите несколько слов о товаре

          .product-review__img-container
            .product-review__user-img
              +img("content/reviews","thumb-odeon-light", "jpg", 80, 80, "Люстра")

            .product-review__img-upload
              input(type="file" id="user-images" name="user-images").product-review__upload.visually-hidden
              label(for="user-images")
                +icon("load-img", 24, 24)
                span.product-review__text-upload Нажмите на&nbsp;кнопку или перетащите фото в&nbsp;эту область до&nbsp;
                  span.product-review__text-number 9
                  | &nbsp;изображений в&nbsp;формате PNG, JPEG.

          +link({href:"#", text: "Правила публикации", isExternal: true}).link--underline.product-review__publishing-rules
          .product-review__wrapper-btn
            +btn({text: "Отменить", type: "reset"}).btn--true-secondary.btn--padding-16.product-review__btn-reset
            +btn({text: "Отправить отзыв", type: "submit"}).btn--wight-medium.btn--padding-16.product-review__btn-submit
