.shopping {
  &__favorite {
    margin-top: calc(4px + 8px);
    margin-right: 4px;
    margin-left: 26px;

    grid-column: -1 / span 1;

    @include vp-767 {
      margin-left: 0;
      margin-top: 0;
    }
    justify-self: flex-end;
  }
}
