.shopping {
  &__gift {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $color-radical-red;

    grid-column: fourth-col-start / span 1;
    justify-self: flex-end;
    margin-top: 8px;

    @include vp-767 {
      justify-self: flex-start;
      font-size: 16px;
      line-height: 22px;
      margin-top: 0;

      grid-column: second-col-start / span 1;
      align-self: center;
      grid-row: span 2;
    }
  }

  &__gift .icon {
    flex-shrink: 0;
    margin-right: 7px;

    @include vp-767 {
      width: 15px;
      height: 15px;
      margin-right: 3px;
    }
  }
}
