.shopping {
  &__delete-item {
    margin-top: 24px;

    grid-column: second-col-start / span 1;

    @include vp-767 {
      margin-top: 16px;

      font-size: 14px;
      line-height: 18px;

      grid-column: second-col-start / span 2;
      grid-row: 10 / span 1;
    }
    justify-self: flex-start;
  }

  &__title + &__delete-item {
    @include vp-767 {
      margin-top: 8px;

      grid-row: auto;
    }
  }

  &__withdrawn-sale + &__delete-item {
    @include vp-767 {
      grid-row: 4 / span 1;
    }
  }
}
