.shopping {
  &__need-installation {
    display: flex;
    align-items: center;
    margin-top: 12px;

    grid-column: second-col-start / span 1;

    @include vp-767 {
      margin-top: 0;
      margin-bottom: 16px;

      grid-column: second-col-start / span 2;
    }
  }

  &__product-under-order + &__need-installation {
    margin-top: 16px;
  }
}
