.bonus {
  &__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: size(32px);

    font-weight: 300;
    font-size: size(24px);
    line-height: size(30px);

    @include vp-1023 {
      font-size: size(20px);
      line-height: size(26px);
    }

    @include vp-767 {
      font-size: size(16px);
      line-height: size(22px);
      margin-bottom: size(16px);
    }
  }

  &__toggle-switch {
    padding: size(16px);
    background-color: $color-ivory;
    border-radius: size(12px);

    @include vp-1439 {
      margin-left: 0;
      margin-right: 0;
      padding: size(16px);
    }

    @include vp-1279 {
      margin-left: 0;
      margin-right: 0;
      padding: size(16px);
    }

    @include vp-1023 {
      margin-left: 0;
      margin-right: 0;
      padding: size(12px) size(16px);
    }

    @include vp-767 {
      margin-left: 0;
      margin-right: 0;
      padding: size(12px) size(16px);
    }
  }
}
