.interiors {
  padding: size(80px) 0 size(117px);

  background-color: $color-alabaster;


  @include vp-1279 {
    padding: size(56px) 0 size(111px);
  }

  @include vp-1023 {
    padding: size(40px) 0 size(40px)
  }

  &__title {
    margin: 0;

    font-family: $ff-placeholder;
    font-weight: 300;
    font-size: size(36px);
    line-height: 122%;

    @include vp-1599 {
      font-size: 36px;
    //   margin-bottom: 30px;
    }

    // @include vp-1279 {
    //   margin-bottom: 24px;
    // }

    @include vp-1023 {
      font-size: 28px;
    }

    @include vp-767 {
      font-size: 20px;
    }
  }

  &__slider {
    @include vp-1023 {
      margin: 0 -32px;
    }

    @include vp-767 {
      margin: 0 -16px;
    }
  }

  .slider-cards__swiper {
    padding: size(32px) 0 0;

    @include vp-1599 {
      padding: size(30px) 0 0;
    }

    @include vp-1279 {
      padding: size(24px) 0 0;
    }

    @include vp-1023 {
      padding-left: 32px;
      padding-right: 32px;
    }

    @include vp-767 {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .slider-cards__swiper-slide {
    width: size(336px);
    height: auto;

    @include vp-1599 {
      width: 336px;
    }

    @include vp-1279 {
      width: 296px;
    }

    @include vp-1023 {
      width: 224px;
    }

    @include vp-767 {
      width: 177px;
    }
  }

  .slider-cards__swiper-button-prev,
  .slider-cards__swiper-button-next {
    opacity: 0.7;

    &.swiper-button-disabled {
      opacity: 0;
    }

    @include vp-1023 {
      display: none;
    }
  }
}
