.recipient-details {
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: minmax(size(200px), auto);
    grid-auto-rows: minmax(size(48px), auto);
    gap: size(8px);
    align-items: flex-start;

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin-top: 0;
    font-weight: 300;
    margin-bottom: size(16px);
    font-size: size(24px);
    line-height: size(30px);

    @include vp-1023 {
      font-size: size(20px);
      line-height: size(26px);
    }

    @include vp-767 {
      font-size: size(16px);
      line-height: size(22px);
      margin-bottom: size(12px);
    }
  }

  &__email {
    grid-column: 1 / -1;
  }
}
