.select-lighting {
  &__tabs {
    margin-top: size(-8px);

    @include vp-1023 {
      margin-top: -12px;
    }

    @include vp-767 {
      margin-top: 0;
    }
  }

  &__title {
    @include vp-1023 {
      width: calc(100% - 64px);
      margin-left: auto;
      margin-right: auto;
    }

    @include vp-767 {
      width: calc(100% - 32px);
    }
  }

  & .container {
    @include vp-1023 {
      padding: 0;
    }
  }
}
