mixin delivery-transport-company()
  section.delivery-transport-company()&attributes(attributes)
    h2.visually-hidden Доставка транспортной компанией
    .delivery-transport-company__desc.
      Менеджер свяжется с вами
      в течении 10 минут после
      оплаты и согласует
      траспортную компанию
    .delivery-transport-company__info-message
      span.delivery-transport-company__icon 🔥
      .delivery-transport-company__message
        | Доставка до траспортной компании — #[span.delivery-transport-company__bold-text бесплатно]

