mixin toggle-switch-second()
  label.toggle-switch-second()&attributes(attributes)
    input.visually-hidden(type="checkbox" name="Need installation")
    span.toggle-switch-second__toggle-switch
      .toggle-switch-second__switcher
    span.toggle-switch-second__toggle-switch-label Нужна установка
