mixin write-review()
  .write-review
    .write-review__inner
      .write-review__logo
        +icon('ya-market', 167, 32)
      .write-review__rating
        +rating()
        p.write-review__text 98% покупателей купили бы у нас снова
    a.write-review__btn.btn(href="#") Написать отзыв
