-
  const data = {
    text: {
      prepend: {
        firstPart: `
          Компания АРТЕ Ламп была основана в&nbsp;2001 году в&nbsp;итальянском городе Фанзоло
          и&nbsp;специализируется на&nbsp;производстве и&nbsp;дистрибуции светотехники высокого качества.
          Продукция бренда поставляется в&nbsp;более чем 20&nbsp;стран по&nbsp;всему земному шару, среди которых и&nbsp;Россия.
          Аристократический стиль, изысканность и&nbsp;изящество продукции ARTE Lamp полюбились тысячам российских потребителей.`,
        secondPart: `
          Компания АРТЕ Ламп была основана в&nbsp;2001 году в&nbsp;итальянском городе Фанзоло
          и&nbsp;специализируется на&nbsp;производстве и&nbsp;дистрибуции светотехники высокого качества.
          Продукция бренда поставляется в&nbsp;более чем 20&nbsp;стран по&nbsp;всему земному шару, среди которых и&nbsp;Россия.
          Аристократический стиль, изысканность и&nbsp;изящество продукции ARTE Lamp полюбились тысячам российских потребителей.`,
        thirdPart: `
          Компания АРТЕ Ламп была основана в&nbsp;2001 году в&nbsp;итальянском городе Фанзоло
          и&nbsp;специализируется на&nbsp;производстве и&nbsp;дистрибуции светотехники высокого качества.
          Продукция бренда поставляется в&nbsp;более чем 20&nbsp;стран по&nbsp;всему земному шару, среди которых и&nbsp;Россия.
          Аристократический стиль, изысканность и&nbsp;изящество продукции ARTE Lamp полюбились тысячам российских потребителей.`
      }
    }
  }
