mixin tooltip-house()
  +icon-tooltip({iconProps: ['house', 16, 16]}).designer-card__link-popup
    a.designer-card__link(href=data.contacts.siteHref, target="_blank", aria-label="перейти на сайт дизайнера") перейти на сайт дизайнера
