-
  const slider = options.slider || [
    {
      image: ["content/slider", "slider-image-1", "jpg", 304, 304, "товар"],
    },
    {
      image: ["content/slider", "slider-image-2", "jpg", 304, 304, "товар"],
    },
    {
      image: ["content/slider", "slider-image-3", "jpg", 304, 304, "товар"],
    },
    {
      image: ["content/slider", "slider-image-4", "jpg", 304, 304, "товар"],
    },
    {
      image: ["content/slider", "slider-image-5", "jpg", 304, 304, "товар"],
    },
    {
      image: ["content/slider", "slider-image-6", "jpg", 304, 304, "товар"],
    },
  ]
