- const isSliderCard = options.isSliderCard || false; // true: Тип карточки для слайдеров, false: карточка каталога

- const isAvailable = options.isAvailable || false; // true: кнопка купить, false: кнопка под заказ
- const isOldPrice = options.isOldPrice || false; // true: добавляет старую цена
- const isDiscount = options.isDiscount || false; // true: бирка с скидкой на элементах, "кнопка купить" и "добавить в корзину"
- const isItemNew = options.isItemNew || false; // true: бирка "Новинка"
- const isVideo = options.isVideo || false; // true: бирка "Есть видео"
- const isSaleItem = options.isSaleItem || false; // true: бирка "Лампы за 1 ₽"
- const isShowNumberProduct = options.isShowNumberProduct || false; // true: номер продукта для менеджера
- const isFavorites = options.isFavorites || false; // true: Товар в избранном
- const isMatching = options.isMatching || false; // true: Товар в сравнение
- const isNotSale = options.isNotSale || false; // true: товар снят с продажи
- const properties = options.properties || []; // характеристики товара в карточке
