-
  const productCardClasses = [];

  if (isNotSale) {
    productCardClasses.push("product-card--is-not-sale");
  }

  if (isSliderCard) {
    productCardClasses.push("product-card--is-slider-card");
  }
