- const hasGiftBadge = options.hasGiftBadge || false;
- const hasDiscountBadge = options.hasDiscountBadge || false;
- const hasStockBadge = options.hasStockBadge || false;
- const hasСashbackBadge = options.hasСashbackBadge || false;
- const isPrivateNumber = options.isPrivateNumber || false;
- const isNeedInstallation = options.isNeedInstallation || false;
- const isProductUnderOrder = options.isProductUnderOrder || false;
- const isQuantityRestrictions = options.isQuantityRestrictions || false;
- const isGift = options.isGift || false;
- const isNoPrice = options.isNoPrice || false;
- const isOldPrice = options.isOldPrice || false;
- const isNoCounter = options.isNoCounter || false;
- const isNoFavorite = options.isNoFavorite || false;
- const isWithdrawnSale = options.isWithdrawnSale || false;
- const isDiscount = options.isDiscount || false;
- const maxQuantity = options.maxQuantity || null;
- const minQuantity = options.minQuantity || 0;
- const isOnRequest = options.isOnRequest || false;
