-
  const brandsDataA = [
      {
        letter: "A",
        id:"aEn",
        list: [
          "Ademar",
          "Ademar",
          "Ademar",
          "Ademar",
          "ADCPaint",
          "ADCPaint",
          "ADCPaint",
          "ADCPaint",
          "Arte Lamp",
          "Arte Lamp",
          "Arte Lamp",
          "Arte Lamp",
          "ACUVUE",
          "ACUVUE",
          "ACUVUE",
          "ACUVUE",
          "Awog",
          "Awog",
          "Awog",
          "Awog",
          "adidas",
          "adidas",
          "adidas",
          "adidas",
          "Alize",
          "Alize",
          "Alize",
          "Alize",
          "Almoa",
          "Almoa",
          "Almoa",
          "Almoa",
          "Aksisur",
          "Aksisur",
          "Aksisur",
          "Aksisur",
          "AMD",
          "AMD",
          "AMD",
          "AMD",
          "Attache",
          "Attache",
          "Attache",
          "Attache",
          "Arlight",
          "Arlight",
          "Arlight",
          "Arlight",
          "Andy&Paul",
          "Andy&Paul",
          "Andy&Paul",
          "Andy&Paul",
          "Airline",
          "Airline",
          "Airline",
          "Airline",
          "ABToys",
          "ABToys",
          "ABToys",
          "ABToys",
          "ASVA",
          "ASVA",
          "ASVA",
          "ASVA",
          "Alcon",
          "Alcon",
          "Alcon",
          "Alcon",
          "AVS",
          "AVS",
          "AVS",
          "AVS",
          "A-A Awesome Apparel by Ksenia Avakyan",
          "A-A Awesome Apparel by Ksenia Avakyan",
          "A-A Awesome Apparel by Ksenia Avakyan",
          "A-A Awesome Apparel by Ksenia Avakyan",
          "AVTOLIDER1",
          "AVTOLIDER1",
          "AVTOLIDER1",
          "AVTOLIDER1",
          "Albert&Gloria",
          "Albert&Gloria",
          "Albert&Gloria",
          "Albert&Gloria",
          "Ambrella light",
          "Ambrella light",
          "Ambrella light",
          "Ambrella light",
          "At HOME",
          "At HOME",
          "At HOME",
          "At HOME"
        ]
      }
    ]

-
  const brandsDataB = [
      {
        letter: "B",
        id:"bEn",
        list: [
          "BeeKey",
          "BeeKey",
          "BeeKey",
          "BeeKey",
          "Burnettie",
          "Burnettie",
          "Burnettie",
          "Burnettie",
          "Big House",
          "Big House",
          "Big House",
          "Big House",
          "Bosch",
          "Bosch",
        ]
      }
    ]

-
  const brandsDataC = [
      {
        letter: "C",
        id:"cEn",
        list: [
          "Chernogorov Home",
          "CHIP",
          "CHIP",
          "CHIP",
          "CoolPodaro",
          "Chester",
        ]
      }
    ]

-
  const brandsDataD = [
      {
        letter: "D",
        id:"dEn",
        list: [
          "Dimax",
          "Dimax",
          "Dimax",
          "Dimax",
          "DUDU&DIDI",
          "DUDU&DIDI",
          "DUDU&DIDI",
          "DUDU&DIDI",
          "DACCHI",
          "DACCHI",
          "DACCHI",
          "DACCHI",
          "DreamLine",
          "DreamLine",
          "DreamLine",
          "DreamLine",
          "Dreamtec",
          "Dreamtec",
          "Dreamtec",
          "Dreamtec",
          "Dimart",
          "Dimart",
          "Dimart",
          "Dimart",
          "DELPHI",
          "DELPHI",
          "DELPHI",
          "DELPHI",
          "Dayco",
          "Dayco",
          "Dayco",
          "Dayco",
          "Devia",
          "Devia",
          "Devia",
          "Devia",
          "Disney",
          "Disney",
          "Disney",
          "Disney",
          "Divinare",
          "Divinare",
          "Divinare",
          "Divinare",
          "DENSO",
          "DENSO",
          "DENSO",
          "DENSO",
          "DECATHLON",
          "DECATHLON",
          "DECATHLON",
          "DECATHLON",
          "DFC",
          "DFC",
          "DFC",
          "DFC",
          "Dakimakura17",
          "Dakimakura17",
          "Dakimakura17",
          "Dakimakura17",
          "Doreanse",
          "Doreanse",
          "Doreanse",
          "Doreanse",
          "DeFacto",
          "DeFacto",
          "DeFacto",
          "DeFacto",
          "Dario",
          "Dario",
          "Dario",
          "Dario",
          "DStrend",
          "DStrend",
          "DStrend",
          "DStrend",
          "Daniel Klein",
          "Daniel Klein",
          "Daniel Klein",
          "Daniel Klein",
          "Dreamshirts",
          "Dreamshirts",
          "Dreamshirts",
          "Dreamshirts",
          "DENKIRS",
          "DENKIRS",
          "DENKIRS",
          "DENKIRS",
          "Double Force",
          "Double Force",
          "Double Force",
          "Double Force",
        ]
      }
    ]



