-
  const alphabetList = [
      {
        link: "Все",
        href: "#",
        active: true,
      },
      {
        link: "A",
        href: "#aEn"
      },
      {
        link: "B",
        href: "#bEn"
      },
      {
        link: "C",
        href: "#cEn"
      },
      {
        link: "D",
        href: "#dEn"
      },
      {
        link: "E",
        href: "#"
      },
      {
        link: "F",
        href: "#"
      },
      {
        link: "G",
        href: "#"
      },
      {
        link: "H",
        href: "#",
      },
      {
        link: "I",
        href: "#"
      },
      {
        link: "J",
        href: "#"
      },
      {
        link: "K",
        href: "#"
      },
      {
        link: "L",
        href: "#"
      },
      {
        link: "M",
        href: "#"
      },
      {
        link: "N",
        href: "#"
      },
      {
        link: "O",
        href: "#"
      },
      {
        link: "P",
        href: "#",
      },
      {
        link: "Q",
        href: "#"
      },
      {
        link: "R",
        href: "#"
      },
      {
        link: "S",
        href: "#"
      },
      {
        link: "T",
        href: "#",
      },
      {
        link: "U",
        href: "#"
      },
      {
        link: "V",
        href: "#"
      },
      {
        link: "W",
        href: "#",
        disabled: true,
      },
      {
        link: "X",
        href: "#",
        disabled: true,
      },
      {
        link: "Y",
        href: "#",
        disabled: true,
      },
      {
        link: "Z",
        href: "#"
      },
      {
        link: "0 — 9",
        href: "#"
      },
    ]


-
  const alphabetList2 = [
      {
        link: "А",
        href: "#"
      },
      {
        link: "Б",
        href: "#"
      },
      {
        link: "В",
        href: "#"
      },
      {
        link: "Г",
        href: "#",
      },
      {
        link: "Д",
        href: "#"
      },
      {
        link: "Е",
        href: "#"
      },
      {
        link: "Ё",
        href: "#"
      },
      {
        link: "Ж",
        href: "#"
      },
      {
        link: "З",
        href: "#"
      },
      {
        link: "И",
        href: "#"
      },
      {
        link: "Й",
        href: "#"
      },
      {
        link: "К",
        href: "#",
      },
      {
        link: "Л",
        href: "#"
      },
      {
        link: "М",
        href: "#"
      },
      {
        link: "Н",
        href: "#"
      },
      {
        link: "О",
        href: "#",
      },
      {
        link: "П",
        href: "#"
      },
      {
        link: "Р",
        href: "#"
      },
      {
        link: "С",
        href: "#"
      },
      {
        link: "Т",
        href: "#"
      },
      {
        link: "У",
        href: "#"
      },
      {
        link: "Ф",
        href: "#"
      },
      {
        link: "Х",
        href: "#"
      },
      {
        link: "Ц",
        href: "#"
      },
      {
        link: "Ч",
        href: "#"
      },
      {
        link: "Ш",
        href: "#"
      },
      {
        link: "Щ",
        href: "#"
      },
      {
        link: "Ъ",
        href: "#"
      },
      {
        link: "Ы",
        href: "#"
      },
      {
        link: "Ь",
        href: "#",
      },
      {
        link: "Э",
        href: "#"
      },
      {
        link: "Ю",
        href: "#"
      },
      {
        link: "Я",
        href: "#"
      }
    ]
