-
  const cityList = [
    {
      inputLabel: "Москва",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-1",
    },
    {
      inputLabel: "Санкт-Петербург",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-2",
    },
    {
      inputLabel: "Абакан",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-3",
    },
    {
      inputLabel: "Алупка",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-4",
    },
    {
      inputLabel: "Архангельск",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-5",
    },
    {
      inputLabel: "Астрахань",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-6",
    },
    {
      inputLabel: "Белгород",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-7",
    },
    {
      inputLabel: "Владикавказ",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-8",
    },
    {
      inputLabel: "Владимир",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-9",
    },
    {
      inputLabel: "Волгоград",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-10",
    },
    {
      inputLabel: "Воронеж",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-11",
    },
    {
      inputLabel: "Екатеринбург",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-12",
    },
    {
      inputLabel: "Инкерман",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-13",
    },
    {
      inputLabel: "Иркутск",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-14",
    },
    {
      inputLabel: "Казань",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-15",
    },
    {
      inputLabel: "Калининград",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-16",
    },
    {
      inputLabel: "Краснодар",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-17",
    },
    {
      inputLabel: "Липецк",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-18",
    },
    {
      inputLabel: "Махачкала",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-19",
    },
    {
      inputLabel: "Нижний Новгород",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-20",
    },
    {
      inputLabel: "Новосибирск",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-21",
    },
    {
      inputLabel: "Омск",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-22",
    },
    {
      inputLabel: "Орёл",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-23",
    },
    {
      inputLabel: "Пенза",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-24",
    },
    {
      inputLabel: "Ростов-на-Дону",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-25",
    },
    {
      inputLabel: "Самара",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-26",
    },
    {
      inputLabel: "Саратов",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-27",
    },
    {
      inputLabel: "Севастополь",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-28",
    },
    {
      inputLabel: "Симферополь",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-29",
    },
    {
      inputLabel: "Сыктывкар",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-30",
    },
    {
      inputLabel: "Уфа",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-31",
    },
    {
      inputLabel: "Ханты-Мансийск",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-32",
    },
    {
      inputLabel: "Чебоксары",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-33",
    },
    {
      inputLabel: "Челябинск",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-34",
    },
    {
      inputLabel: "Якутск",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-35",
    },
    {
      inputLabel: "Ялта",
      inputType: "radio",
      inputName: "city",
      inputValue: "city-36",
    },
  ]

  const searchList = [
    {
      letter: "а",
      class: "is-active",
    },
    {
      letter: "б",
    },
    {
      letter: "в",
    },
    {
      letter: "д",
    },
    {
      letter: "ж",
    },
    {
      letter: "з",
    },
    {
      letter: "й",
    },
    {
      letter: "л",
    },
    {
      letter: "ь",
    },
    {
      letter: "н",
    },
    {
      letter: "о",
    },
    {
      letter: "п",
    },
    {
      letter: "р",
    },
    {
      letter: "м",
    },
    {
      letter: "т",
    },
    {
      letter: "ч",
    },
    {
      letter: "я",
    },
  ]
