-
  var selectLighting = [
    {
      title: "Гостиная комната",
      image: "living-room",
      items: [
        {
          title: "Люстры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Люстры для гостиной",
          new: "true",
          image: "intro-image",
        },
        {
          title: "Встраиваемые точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Накладные точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Шинные и струнные системы освещения",
          new: "",
          image: "intro-image",
        },
        {
          title: "Торшеры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Подсветка для картин",
          new: "",
          image: "intro-image",
        },
        {
          title: "Светодиодные ленты и комплектующие",
          new: "",
          image: "intro-image",
        },
      ],
    },
    {
      title: "Прихожая",
      image: "living-room",
      items: [
        {
          title: "Люстры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Люстры для гостиной",
          new: "true",
          image: "intro-image",
        },
        {
          title: "Встраиваемые точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Накладные точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Шинные и струнные системы освещения",
          new: "",
          image: "intro-image",
        },
        {
          title: "Торшеры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Подсветка для картин",
          new: "",
          image: "intro-image",
        },
        {
          title: "Светодиодные ленты и комплектующие",
          new: "",
          image: "intro-image",
        },
      ],
    },
    {
      title: "Ванная",
      image: "living-room",
      items: [
        {
          title: "Люстры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Люстры для гостиной",
          new: "true",
          image: "intro-image",
        },
        {
          title: "Встраиваемые точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Накладные точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Шинные и струнные системы освещения",
          new: "",
          image: "intro-image",
        },
        {
          title: "Торшеры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Подсветка для картин",
          new: "",
          image: "intro-image",
        },
        {
          title: "Светодиодные ленты и комплектующие",
          new: "",
          image: "intro-image",
        },
      ],
    },
    {
      title: "Спальная комната",
      image: "living-room",
      items: [
        {
          title: "Люстры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Люстры для гостиной",
          new: "true",
          image: "intro-image",
        },
        {
          title: "Встраиваемые точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Накладные точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Шинные и струнные системы освещения",
          new: "",
          image: "intro-image",
        },
        {
          title: "Торшеры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Подсветка для картин",
          new: "",
          image: "intro-image",
        },
        {
          title: "Светодиодные ленты и комплектующие",
          new: "",
          image: "intro-image",
        },
      ],
    },
    {
      title: "Детская комната",
      image: "living-room",
      items: [
        {
          title: "Люстры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Люстры для гостиной",
          new: "true",
          image: "intro-image",
        },
        {
          title: "Встраиваемые точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Накладные точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Шинные и струнные системы освещения",
          new: "",
          image: "intro-image",
        },
        {
          title: "Торшеры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Подсветка для картин",
          new: "",
          image: "intro-image",
        },
        {
          title: "Светодиодные ленты и комплектующие",
          new: "",
          image: "intro-image",
        },
      ],
    },
    {
      title: "Кухня",
      image: "living-room",
      items: [
       {
          title: "Люстры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Люстры для гостиной",
          new: "true",
          image: "intro-image",
        },
        {
          title: "Встраиваемые точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Накладные точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Шинные и струнные системы освещения",
          new: "",
          image: "intro-image",
        },
        {
          title: "Торшеры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Подсветка для картин",
          new: "",
          image: "intro-image",
        },
        {
          title: "Светодиодные ленты и комплектующие",
          new: "",
          image: "intro-image",
        },
      ],
    },
    {
      title: "Дача",
      image: "living-room",
      items: [
        {
          title: "Люстры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Люстры для гостиной",
          new: "true",
          image: "intro-image",
        },
        {
          title: "Встраиваемые точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Накладные точечные светильники",
          new: "",
          image: "intro-image",
        },
        {
          title: "Шинные и струнные системы освещения",
          new: "",
          image: "intro-image",
        },
        {
          title: "Торшеры",
          new: "",
          image: "intro-image",
        },
        {
          title: "Подсветка для картин",
          new: "",
          image: "intro-image",
        },
        {
          title: "Светодиодные ленты и комплектующие",
          new: "",
          image: "intro-image",
        },
      ],
    },
  ]

