.modal--map {
  .modal__wrapper {
    padding: 0;
  }

  .modal__content {
    padding: 0;
    height: 100%;
  }

  .modal__close-btn {
    width: size(32px);
    height: size(32px);
    top: size(16px);
    right: size(16px);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-default-white;
    border-radius: 8px;
    box-shadow: 0px 0px 1px rgba(0, 30, 52, 0.05), 0px 12px 24px rgba(0, 30, 52, 0.2);

    svg {
      width: size(9px);
      height: size(9px);

      color: $color-default-black;
    }
  }
}

.modal-map {
  display: flex;
  flex-direction: column;
  padding: size(24px) size(16px);
  height: 100%;

  &__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__form {
    margin-top: auto;
  }

  &__form-wrap {
    display: flex;
    flex-direction: column;
  }

  &__location.btn {
    padding: size(5px);
    width: size(32px);
    height: size(32px);
    margin-bottom: size(16px);
    margin-left: auto;

    border-radius: 8px;
    border: none;

    box-shadow: 0px 0px 1px rgba(0, 30, 52, 0.05), 0px 12px 24px rgba(0, 30, 52, 0.2);

    svg {
      width: size(11px);
      height: size(9px);
    }
  }

  &__input {
    margin-bottom: size(8px);
  }

  &__btn.btn {
    padding-top: size(9px);
    padding-bottom: size(9px);
  }
}
