.modal--point-info {
  overflow-y: auto;

  .modal__wrapper {
    max-height: none;
  }

  .modal__content {
    padding: 0;
    background-color: transparent;
  }

  .modal__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: size(20px);
    height: size(20px);

    svg {
      width: size(11px);
      height: size(11px);
    }
  }
}
