-
  const card = {
    properties: ["Maytoni", "15 x 21 мм", "освещение: 15 кв. м."], // характеристики товара в карточке
    isAvailable: true, // true: кнопка купить, false: кнопка под заказ
    isOldPrice: true, // true: добавляет старую цена
    isDiscount: true, // true: бирка с скидкой на элементах, "кнопка купить" и "добавить в корзину"
    isItemNew: true, // true: бирка "Новинка"
    isVideo: true, // true: бирка "Есть видео"
    isSaleItem: true, // true: бирка "Лампы за 1 ₽"
    isShowNumberProduct: false, // true: номер продукта для менеджера
    isFavorites: true, // true: Товар в избранном
    isMatching: true, // true: Товар в сравнение
  }

-
  const cardSimple = {
    properties: ["Maytoni", "15 x 21 мм", "освещение: 15 кв. м."], // характеристики товара в карточке
    isAvailable: true, // true: кнопка купить, false: кнопка под заказ
    isOldPrice: false, // true: добавляет старую цена
    isDiscount: false, // true: бирка с скидкой на элементах, "кнопка купить" и "добавить в корзину"
    isItemNew: false, // true: бирка "Новинка"
    isVideo: false, // true: бирка "Есть видео"
    isSaleItem: false, // true: бирка "Лампы за 1 ₽"
    isShowNumberProduct: true, // true: номер продукта для менеджера
    isFavorites: false, // true: Товар в избранном
    isMatching: false, // true: Товар в сравнение
  }
