.popup-question {
  &__wrap-icon {
    padding: 0;
    background: transparent;
    color: inherit;
    font: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 2px solid $color-spindle-1;
    border-radius: 50%;
    cursor: pointer;

    transition: $trans-default;
    transition-property: background-color, border-color, color;
  }

  &__content {
    color: $color-black-pearl;
  }
}
