mixin modal-alas()
  .modal-alas
    .title-2.modal-alas__title
      h2 Увы...
    p.modal-alas__description Мы&nbsp;не&nbsp;нашли этот товар среди ваших покупок. Теперь вы&nbsp;можете оставлять отзыв только к&nbsp;тем товарам, которые были куплены на&nbsp;Дивайн&nbsp;Лайт
    .modal-alas__btn
      button.btn.btn--width100.btn--wight-medium(type="button", data-close-modal="alas") Понятно
