mixin modal-install
  h4.modal__title Нужна установка?
  .modal__container
    p.modal__description Минимальная сумма выезда мастера 1 500 ₽
    .modal__table-wrapper
      table.modal__table
        tr
          td Монтаж встраиваемого точечного светильника в&nbsp;готовое отверстие
          td 350 ₽/шт
        tr
          td Монтаж накладного точечного светильника либо спота
          td 1 000 ₽/шт
        tr
          td Демонтаж старого светильника
          td от 100 ₽/шт
        tr
          td Вырез отверстия для точечного светильника
          td 150 ₽/шт
        tr
          td Установка трансформатора
          td от 200 ₽/шт
        tr
          td Прокладка кабеля (стоимость кабеля не включена)
          td 150 ₽/м
        tr
          td Прокладка кабеля в кабель-канале (стоимость кабеля и кабель канала не включена)
          td 250 ₽/м
        tr
          td Другие виды работ		уточняйте у менеджера
          td
