mixin modal-point-gallery()
  .modal-point-gallery
    .swiper
      .swiper-wrapper
        .swiper-slide
          +img("content", "cdek", "jpg", 836, 836, "cdek")
        .swiper-slide
          +img("content", "cdek", "jpg", 836, 836, "cdek")
        .swiper-slide
          +img("content", "cdek", "jpg", 836, 836, "cdek")
        .swiper-slide
          +img("content", "cdek", "jpg", 836, 836, "cdek")
        .swiper-slide
          +img("content", "cdek", "jpg", 836, 836, "cdek")
      .swiper-button-prev
      .swiper-button-next
