//- Base

include ./base/header/header
include ./base/header/light-header/light-header
include ./base/footer/footer
include ./base/footer/light-footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Data

include ./data/select-lighting
include ./data/modal-contacts
include ./data/modal-city
include ./data/brands-data
include ./data/data-alphabets

//- Modals

include ./modals/modal-feedback
include ./modals/modal-delivery
include ./modals/modal-success
include ./modals/modal-cheap
include ./modals/modal-buy
include ./modals/modal-parts
include ./modals/modal-install
include ./modals/modal-contacts
include ./modals/modal-city
include ./modals/modal-cart
include ./modals/modal-filter
include ./modals/modal-point-info
include ./modals/modal-map
include ./modals/modal-with-map
include ./modals/modal-alas
include ./modals/modal-authorization

//- Blocks

include ./blocks/popular-products
include ./blocks/select-lighting
include ./blocks/reviews
include ./blocks/sellout
include ./blocks/popular-categories
include ./blocks/intro
include ./blocks/banners
include ./blocks/designers
include ./blocks/input-range-accordion
include ./blocks/checkbox-accordion
include ./blocks/filters
include ./blocks/choice
include ./blocks/filter-btn
include ./blocks/filter-select-list
include ./blocks/breadcrumbs
include ./blocks/you-watched
include ./blocks/basket-section
include ./blocks/might-like/might-like
include ./blocks/basket-menu
include ./blocks/making-order
include ./blocks/product-review
include ./blocks/series-goods
include ./blocks/similar-goods
include ./blocks/interiors
include ./blocks/accessory-parts
include ./blocks/product
include ./blocks/characteristics
include ./blocks/great-reviews
include ./blocks/product-info
include ./blocks/info-block
include ./blocks/about-product
include ./blocks/product-img
include ./blocks/product-rating
include ./blocks/reviews-number
include ./blocks/criteria-rating
include ./blocks/product-reviews
include ./blocks/product-diagrams
include ./blocks/reviews-header
include ./blocks/thanks
include ./blocks/users-review
include ./blocks/product-poor
include ./blocks/product-info-poor
include ./blocks/info-rating
include ./blocks/product-min
include ./blocks/product-info-min
include ./blocks/product-not-available
include ./blocks/product-info-not-available
include ./blocks/product-info-order
include ./blocks/card-review
include ./blocks/product-order
include ./blocks/product-max
include ./blocks/product-info-max
include ./blocks/product-error
include ./blocks/product-info-error
include ./blocks/tags
include ./blocks/brand
include ./blocks/filters-brand
include ./blocks/brands


//- end

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/link
include ./mixins/badge
include ./mixins/form-search
include ./mixins/tabbar
include ./mixins/mobile-navbar
include ./mixins/product-card/product-card
include ./mixins/slider-cards
include ./mixins/section-heading
include ./mixins/grid-hover
include ./mixins/chips
include ./mixins/tabs-lighting
include ./mixins/write-review
include ./mixins/review
include ./mixins/rating
include ./mixins/category-card
include ./mixins/designer-card/designer-card
include ./mixins/pagination
include ./mixins/go-page
include ./mixins/about-chandeliers/about-chandeliers
include ./mixins/toggle-switch
include ./mixins/catalog-checkbox-content
include ./mixins/found/found
include ./mixins/filter-type
include ./mixins/basket-popup
include ./mixins/shopping/shopping
include ./mixins/toggle-switch-second
include ./mixins/popup-question
include ./mixins/info-message
include ./mixins/counter/counter
include ./mixins/price
include ./mixins/favorite-togle
include ./mixins/tooltip-content
include ./mixins/sale-badge
include ./mixins/icon-tooltip
include ./mixins/delivery-map
include ./mixins/way-get
include ./mixins/delivery-courier/delivery-courier
include ./mixins/payment-method
include ./mixins/recipient-details
include ./mixins/shopping-widget
include ./mixins/main-logo
include ./mixins/phone-link
include ./mixins/icon-link
include ./mixins/cost-estimate
include ./mixins/promo-code
include ./mixins/delivery-transport-company
include ./mixins/delivery-locations
include ./mixins/delivery-point
include ./mixins/select-pickup-point
include ./mixins/cost-estimate-field
include ./mixins/tooltip-alert
include ./mixins/checkout-active
include ./mixins/checkout-item
include ./mixins/bonus
include ./mixins/delivery-wishes
include ./mixins/popup-info
include ./mixins/point-selected
include ./mixins/rating-diagram
include ./mixins/product-rate
include ./mixins/picture-card
include ./mixins/info-card
include ./mixins/column-buy
include ./mixins/product-counter
include ./mixins/table
include ./mixins/video
include ./mixins/fancybox-img
include ./mixins/price-block
include ./mixins/payment-variants
include ./mixins/text-block
include ./mixins/bonus-block
include ./mixins/buy-item
include ./mixins/tag-list
include ./mixins/slider-list
include ./mixins/about-brand/about-brand
include ./mixins/brands-block

//- end


//- Sliders

include ./sliders/slider-controls
include ./sliders/header-slider
include ./sliders/top-slider
include ./sliders/product-slider
